*{
    margin: 0px;
    padding: 0px;
}

body{
    background-size: cover;
    background: rgba(19, 33, 70, 0.8);
}

h1{
    font-size: 55px;
    font-weight: 0;
    font-family: 'Manjari', sans-serif;
    color: #FFFFFF; 
  }

p{
    font-size: 25px;
    font-weight: 400;
    padding-top: 20px;
    font-family: 'Outfit', sans-serif;
    color: #F1F1F1;
}

.col-md-7{
    padding-top: 50px;
    padding-left: 70px;
}

.col-md-7 .img-fluid{
    padding-top: 0px;
    height: 70%;
    width: 98%;
}

.col-md-3 .img-fluid{
    display: flex;
    flex-wrap: wrap;
}

.buttonSign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 56px;
    font-size: 30px;
    font-weight: 400;
    
    width: 230px;
    height: 80px;
    
    /* Green */
    
    background: #65E4A3;
    border: 2px solid #69E6A6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
}
