<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{% block title %}{% endblock %}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons 
    <link href="assets/img/favicon.png" rel="icon" /> -->
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css" />

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/datatables.css') }}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/dashboard" class="logo d-flex align-items-center">
          <!--<img src="assets/img/logo.png" alt="" />-->
          <span class="d-none d-lg-block">IEMS</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
          <button type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>
          <!-- End Search Icon-->
          {% if current_user.user_type == 'admin' %}
          <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
            </label>
          </div>

          {% endif %} {% if current_user.user_type == 'admin' %}
          <!-- Admin Nav -->
          <li class="nav-item">
            <a class="nav-link nav-icon" href="/admin">
              <i class="bi bi-person"></i>
              <span class="badge bg-success badge-number"></span>
            </a>
          </li>
          <!-- End Admin Nav -->
          {% endif %}

          <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="{{ image_file }}" class="rounded-circle" />
              <span class="d-none d-md-block dropdown-toggle ps-2">{{ current_user.username }}</span> </a
            ><!-- End Profile Iamge Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>{{ current_user.username }}</h6>
                <span>{{ current_user.user_type }}</span>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <!-- <li> -->
              <!-- <a class="dropdown-item d-flex align-items-center" href="users-profile.html"> -->
              <!-- <i class="bi bi-person"></i> -->
              <!-- <span>My Profile</span> -->
              <!-- </a> -->
              <!-- </li> -->
              <!-- <li> -->
              <!-- <hr class="dropdown-divider" /> -->
              <!-- </li> -->

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/account">
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <!-- <li> -->
              <!-- <a class="dropdown-item d-flex align-items-center" href="pages-faq.html"> -->
              <!-- <i class="bi bi-question-circle"></i> -->
              <!-- <span>Need Help?</span> -->
              <!-- </a> -->
              <!-- </li> -->
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/logout">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- End Sidebar-->
    {%block content %}{% endblock %}
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Dasboard Prediction</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">Designed by <a href="#">love</a></div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <!-- <script src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='vendor/chart.js/chart.min.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='vendor/echarts/echarts.min.js') }}"></script> -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/datatables.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script> -->

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/dark.js') }}"></script>

    <!-- Datatables Admin-->
    <script>
      $(document).ready(function () {
        var selected = this.api().rows({ page: 'current', selected: true }).count();
        var all = this.api().rows({ page: 'current' }).count();
        $('#admintable').DataTable({
          pagingType: 'full_numbers',
          ajax: '/api/admin',
          serverSide: true,
          columns: [{ data: 'id' }, { data: 'username' }, { data: 'email' }, { data: 'user_type' }],
        });
        options: {
          responsive: true;
        }
      });
    </script>

    <script>
      $(function () {
        $('btn_search_linechart').click(function () {
          $.ajax({
            url: '/get_data_lineChart',
            type: 'POST',
            data: function (data_linechart) {
              // Read values
              var from_date_lc = $('#search_fromdate_linechart').val();
              var to_date_lc = $('#search_todate_linechart').val();
              console.log(from_date_lc);
              console.log(to_date_lc);

              // Append to data
              data_linechart.searchByFromdateLc = from_date_lc;
              data_linechart.searchByTodateLc = from_date_lc;
            },
            success: function (response) {
              console.log(response);
            },
            error: function (error) {
              console.log(error);
            },
          });
        });
      });
    </script>

    <!-- Template for datatables -->
    <script>
      $(document).ready(function () {
        // DataTable
        var dataTable = $('#realdata').DataTable({
          pagingType: 'full_numbers',
          processing: true,
          serverSide: true,
          // serverMethod: 'post',
          // searching: true, // Set false to Remove default Search Control
          ajax: {
            url: '/api/data',
            // type: 'POST',
            data: function (data) {
              // Read values
              var from_date = $('#search_fromdate').val();
              var to_date = $('#search_todate').val();
              console.log(from_date);
              console.log(to_date);

              // Append to data
              data.searchByFromdate = from_date;
              data.searchByTodate = to_date;
            },
          },
          columns: [{ data: 'Index' }, { data: 'Date' }, { data: 'Time' }, { data: 'Kwh' }],
        });

        // Search button
        $('#btn_search').click(function () {
          dataTable.draw();
        });
      });
    </script>
    <!-- End Template Datatables -->

    <!-- Start Table RNN -->
    <script>
      $(document).ready(function () {
        var dataTable_rnn = $('#rnndata').DataTable({
          pagingType: 'full_numbers',
          processing: true,
          serverSide: true,
          ajax: {
            url: '/api/rnndata',
            data: function (data) {
              // Read values
              var from_date = $('#search_fromdate_rnn').val();
              var to_date = $('#search_todate_rnn').val();
              // Append to data
              data.searchByFromdate = from_date;
              data.searchByTodate = to_date;
            },
          },
          columns: [{ data: 'Index' }, { data: 'Date' }, { data: 'Time' }, { data: 'Kwh' }],
        });
        // Search button
        $('#btn_search_rnn').click(function () {
          dataTable_rnn.draw();
        });
        options: {
          responsive: true;
        }
      });
    </script>
    <!-- End Table RNN -->

    <!-- Start Table GRU -->
    <script>
      $(document).ready(function () {
        var dataTable_gru = $('#grudata').DataTable({
          pagingType: 'full_numbers',
          processing: true,
          serverSide: true,
          ajax: {
            url: '/api/grudata',
            data: function (data) {
              // Read values
              var from_date = $('#search_fromdate_gru').val();
              var to_date = $('#search_todate_gru').val();
              // Append to data
              data.searchByFromdate = from_date;
              data.searchByTodate = to_date;
            },
          },
          columns: [{ data: 'Index' }, { data: 'Date' }, { data: 'Time' }, { data: 'Kwh' }],
        });
        // Search button
        $('#btn_search_gru').click(function () {
          dataTable_gru.draw();
        });
        options: {
          responsive: true;
        }
      });
    </script>
    <!-- End Table GRU -->

    <!-- Start Table LMU -->
    <script>
      $(document).ready(function () {
        var dataTable_lmu = $('#lmudata').DataTable({
          pagingType: 'full_numbers',
          processing: true,
          serverSide: true,
          ajax: {
            url: '/api/lmudata',
            data: function (data) {
              // Read values
              var from_date = $('#search_fromdate_lmu').val();
              var to_date = $('#search_todate_lmu').val();
              // Append to data
              data.searchByFromdate = from_date;
              data.searchByTodate = to_date;
            },
          },
          columns: [{ data: 'Index' }, { data: 'Date' }, { data: 'Time' }, { data: 'Kwh' }],
        });
        // Search button
        $('#btn_search_lmu').click(function () {
          dataTable_lmu.draw();
        });
        options: {
          responsive: true;
        }
      });
    </script>
    <!-- End Table LMU -->

    <!-- Start Table TCN -->
    <script>
      $(document).ready(function () {
        var dataTable_tcn = $('#tcndata').DataTable({
          pagingType: 'full_numbers',
          processing: true,
          serverSide: true,
          ajax: {
            url: '/api/tcndata',
            data: function (data) {
              // Read values
              var from_date = $('#search_fromdate_tcn').val();
              var to_date = $('#search_todate_tcn').val();

              // Append to data
              data.searchByFromdate = from_date;
              data.searchByTodate = to_date;
            },
          },
          columns: [{ data: 'Index' }, { data: 'Date' }, { data: 'Time' }, { data: 'Kwh' }],
        });

        // Search button
        $('#btn_search_tcn').click(function () {
          dataTable_tcn.draw();
        });
        options: {
          responsive: true;
        }
      });
    </script>
    <!-- End Table TCN -->

    <!-- Template for Scheduling table Billing -->
    <script>
      $(document).ready(function () {
        $('#billing').DataTable({
          columns: [null, null, null, { orderable: false, searchable: false }, { orderable: false, searchable: false }],
          options: {
            responsive: true,
          },
        });
      });
    </script>

    <!-- Template for Scheduling table Appliance -->
    <script>
      $(document).ready(function () {
        $('#appliance').DataTable({
          columns: [null, null, null, { orderable: false }, { orderable: false }, null, { orderable: false, searchable: false }],
          options: {
            responsive: true,
          },
        });
      });
    </script>

    <!-- Template for Scheduling table Data Timer -->
    <script>
      $(document).ready(function () {
        $('#Timer').DataTable({
          pagingType: 'full_numbers',
          ajax: '/api/dataTimer',
          serverSide: true,
          columns: [{ data: 'user_id' }, { data: 'device_id' }, { data: 'device_name' }, { data: 'duration_scheduled' }, { data: 'duration_used' }, { data: 'duration_left' }],
          options: {
            responsive: true,
          },
        });
      });
    </script>

    <!-- Template Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='assets/js/echarts.js') }}"></script>
    <script src="{{ url_for('static', filename='llcs.js') }}"></script>
    <script src="{{ url_for('static', filename='tcnlinecharts.js') }}"></script>
    <script src="{{ url_for('static', filename='grulinechart.js') }}"></script>
    <script src="{{ url_for('static', filename='rnnlinechart.js') }}"></script>
    <script src="{{ url_for('static', filename='lmulinechart.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static', filename='clusteringchart.js') }}"></script>
  </body>
</html>
